<%- include('../partials/header') %>

<table>
    <thead>
      <tr>
        <th>TICKER</th>
        <th>COMPANY</th>
        <th>TRANSACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <% tickers.forEach(function(t) { %>
        <tr>
          <td><%= t.symbol %></td>
          <td><%= t.company %></td>
          <td><a href="/tickers/<%= t._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  
<%- include('../partials/footer') %>

<!-- <table>
    <thead>
      <tr>
        <th>TICKER</th>
        <th>COMPANY</th>
        <th>TRANSACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <% tickers.forEach(function(t) { %>
        <tr>
          <td><%= t.symbol %></td>
          <td><%= t.company %></td>
          <td><a href="/tickers/<%= t._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table> -->