<%- include('../partials/header') %>

<% if (user) { %>
    <br><br><h2>TRANSACTIONS</h2>
    <h3>ENTER A NEW TRANSACTION:</h3>
    <form id="add-transaction-form" method="POST"
      action="/tickers/<%= ticker._id %>/transactions">
      <label>PRICE:</label>
      <input type="text" name="price">
      <label>QTY:</label>
      <input type="text" name="shares">
      <label>ORDER:</label>
      <select name="order">
        <option value="1" selected>BUY</option>
        <option value="2">SELL</option>
      </select>
      <input type="submit" value="ADD TRANSACTION">
    </form><br><br>
  <% } %>

  <h3>TRANSACTION HISTORY:</h3>
<% if (ticker.transactions.length) { %>
  <table>
    <thead>
      <tr>
        <th>PRICE</th>
        <th>QTY</th>
        <th>ORDER</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% ticker.transactions.forEach(function(t) { %>
        <% if (t.order === "1") { %>
          <% total = total + (t.price * t.shares) %>
        <% }else { %>
          <% total = total - (t.price * t.shares) %>
        <% } %>
        <tr>
          <td><%= t.price %></td>
          <td><%= t.shares %></td>
          <td><%= t.order %></td>
          <td>
            <a href="/transactions/<%= t._id %>/edit" >EDIT</a>
            <!-- <form action="/transactions/<%= t._id %>?_method=PUT" method="POST">
              <button type="submit">EDIT</button>
            </form> -->
        </td>
        </tr>
      <% }) %>
    </tbody>
  </table><br>
  <h3><%= total %></h3>

<% } %>

<%- include('../partials/footer') %>
