<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Orbitron&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
        <a href="/tickers" <%- title === 'MY TICKERS' ? 'class="active"' : '' %>>MY PORTFOLIO</a>
        <!-- <a href="/transactions/new"	<%- title === 'ADD TRANSACTION' ? 'class="active"' : '' %>>ADD TRANSACTION</a> -->
        <a href="/tickers/new" <%- title === 'ADD TICKER' ? 'class="active"' : '' %>>ADD TICKER</a>
        <a href="/logout">LOG OUT</a>
    </nav>
    <main>
        <h1><%= title %></h1>
    



